---
layout: default
---
<article class="post">

<header class="post-header">
<h1 class="post-title">{{ page.title | escape }}</h1>
</header>

<ul class="post-list">
  {%- for post in site.categories[page.tag] -%}
    <li class="flex-basis-400 flex-grow-5">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {{ post.date | date: date_format }}
      <h3 class="list-post-title">

      {{ post.title | escape }}

      </h3>
    <!--{% if site.show_excerpts %}-->
      <span class="list-post-description">
        {{post.description}}
      </span>
    <!--{% endif %}-->
    </li>
  {%- endfor -%}
</ul>

</article>
