---
layout: default
---
<div class="size margin min-height">
  <article class="post">

  <header class="post-header">
  <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-list margin-top-20 margin-bottom-50">
    {%- for post in site.categories[page.tag] -%}
    <div class="list-item-2 container wrap-reverse align-items-end justify-content-center">
      <div class="flex-basis-400 flex-grow-5">
        <div class="">
      <!--{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {{ post.date | date: date_format }}-->
          <h3 class="list-post-title">
          {{ post.title | escape }}
          </h3>
            <div class="">
              <span class="list-post-description">
                {{post.description}}
              </span>
            </div>
          </div>
        </div>
      </div>
      {%- endfor -%}
    </div>
  </article>
</div>
